# Server
PORT=3000

# Redis
REDIS_URL=redis://localhost:6379

# token-bucket | sliding-window
RATE_ALGO=token-bucket

# requests per window
RATE_LIMIT=10

#5 seconds, window length in ms
RATE_WINDOW_MS=50000